{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Player list</h2>
            <p><a href="{{ baseUrl }}/{{ roleUrl }}/games/new">New game</a></p>
            <table class="table">
                <thead>
                <th>Id</th><th>Local</th><th>Visitor</th><th>Date</th><th>Score</th><th>Status</th>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}
                            {% if (game.status == 1) %}
                                <a href="{{ baseUrl }}/game/{{ game.id }}/score/edit">Edit score</a> |
                                <a href="{{ baseUrl }}/game/{{ game.id }}/score/confirm">Confirm score</a>
                            {%  endif %}
                        </td>
                        <td>{{ game.local.name }}</td>
                    <td>{{ game.visitor.name }}</td>
                        <td>{{ game.whenPlayed|date('Y-m-d') }}</td>
                        <td>{{ game.scoreLocal ~ ' - ' ~ game.scoreVisitor }}</td>
                        <td>{{ game.status ? 'PENDING' : 'CLOSED' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href="{{ baseUrl }}/{{ roleUrl }}">Back to menu</a></p>
        </div>
    </div>
{% endblock %}
