{% extends 'default/index.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <p><a href="{{ app.request.baseUrl ~ gamesUrl }}">See games</a> | <a href="{{ app.request.baseUrl ~ dashboardUrl }}">Back to menu</a></p>
{% endblock %}