{% extends 'default/index.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('registrationMessage') %}
        {{ flashMessage }}
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <p><a href="{{ baseUrl }}/{{ roleUrl }}/games">See games</a> | <a href="{{ baseUrl }}/{{ roleUrl }}">Back to menu</a></p>
{% endblock %}