{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Player list</h2>
            <p><a href="{{ baseUrl ~ registerUrl }}">Add player</a></p>
            <table class="table">
                <thead>
                <th>Id</th><th>Local</th><th>Visitor</th><th>Date</th><th>Score</th>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }} <a href="{{ baseUrl }}/game/{{ game.id }}/score">Edit score</a></td><td>{{ game.local.name }}</td><td>{{ game.visitor.name }}</td><td>{{ game.whenPlayed|date('Y-m-d') }}</td><td>{{ game.scoreLocal ~ ' - ' ~ game.scoreVisitor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
