{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Player list</h2>
            <p><a href="{{ app.request.baseUrl ~ registerUrl }}">Add player</a></p>
            <table class="table">
                <thead>
                <th>Id</th><th>Username</th><th>Full Name</th><th>Email</th>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr><td>{{ player.id }} <a href="{{ app.request.baseUrl }}/players/{{ player.id }}/delete">Delete</a> | <a href="{{ app.request.baseUrl }}/players/{{ player.id }}/edit">Edit</a></td>
                        <td>{{ player.username }}</td>
                        <td>{{ player.fullName }}</td><td><a href="mailto:{{ player.email }}">{{ player.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href="{{ app.request.baseUrl ~ dashboardUrl }}">Back to menu</a></p>
        </div>
    </div>
{% endblock %}
