{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Game list</h2>
            <p><a href="{{ baseUrl }}/players/games">Show all</a> | <a href="{{ baseUrl }}/players/{{ app.user.id }}/games">Only mine</a></p>
            <table class="table">
                <thead>
                <th>Id</th><th>Local</th><th>Visitor</th><th>Date</th><th>Score</th>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td><td>{{ game.local.name }}</td><td>{{ game.visitor.name }}</td><td>{{ game.whenPlayed|date('Y-m-d') }}</td><td>{{ game.scoreLocal ~ ' - ' ~ game.scoreVisitor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href="{{ baseUrl }}/admin">Back to menu</a></p>
        </div>
    </div>
{% endblock %}
